# Complied source #
###################

*.exe
*.hi
*.o

# LaTeX auxiliary files #
#########################

*.aux
*.idx
*.ilg
*.ind
*.log
*.nlo
*.nls
*.out
*.ptc
*.ptx
*.gz

# Miscellaneous files #
#######################

*.db
*~
*#
*.webpack.js
.psci

# Folders #
###########

elm-stuff
.pulp-cache
bower_components
dist
output